<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body, h1, h2, h3, p {
      font-family: 'Montserrat', sans-serif;
    }
  </style>
  <title>Document</title>
</head>
<body>
  <table style="width: 100%!important">
    <tbody>
      <tr>
        <td align="center">
          <table style="width: 540px!important;margin: 40px 0;border: 1px solid #E9E9EF; border-radius: 5px;padding: 40px 40px 0 40px;">
            <tbody>
              <tr>
                <td align="center">
                  <div>
                    <table style="width: 100%!important; color: #111026; border-collapse: collapse;">
                      <tbody>
                        <tr>
                          <td align="center">
                            <div>
                              <img src="https://server.portfolio-adilzhexenov.kz/uploads/logo.png" alt="Menger" width="80" height="80">
                            </div>
                            <h1 style="font-size: 24px; font-weight: 700;">Сіздің растау кодыңыз</h1>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" style="font-size: 16px;line-height: 24px;">
                            <p style="margin-bottom: 8px;">Сәлеметсіз бе, <%= name %>!</p>
                            <p style="margin-bottom: 8px; text-align: justify;">Сіз "<%= organization %>" ұйымының атынан біздің платформаға қосылдыңыз. Кіру үшін келесі логин мен құпия сөзді қолданыңыз:</p>
                          </td>
                        </tr>
                        <tr>
                          <td align="center">
                            <p style="font-weight: 400; font-size: 16px;">Логин: <b><%= email %></b></p>
                            <p style="font-weight: 400; font-size: 16px;margin-top: -8px;">Құпиясөз: <b><%= password %></b></p>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" style="font-size: 16px;line-height: 24px;">
                            <p style="text-align: justify;">Сұрақтар немесе ұсыныстар болған жағдайда біздің қолдау қызметімізге хабарласыңыз.</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div style="border-top: 1px solid #E9E9EF; margin-top: 16px;padding: 8px 0;">
                              <p style="font-size: 16px; font-weight: 300; color: #A2A2C3;">2024 &copy; Men'ger</p>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>